h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: salmon;
}

li {
  font-style: italic;
}

body {
  background-color: rgb(139, 139, 139);
  text-align: center;
}

ul li {
  text-align: left;
}

.row p {
  text-align: left;
  margin: 20px;
}

h1{
  margin-right: 110px;
}